
@font-face {
    font-family: "Graphik";
    src: url(../fonts/Graphik-Regular.otf) format("opentype") ;
}
@font-face {
    font-family: "Graphik2";
    src: url(../fonts/Graphik-Bold.otf) format("opentype");
}
@font-face {
    font-family: "Graphik3";
    src: url(../fonts/Graphik-Semibold.otf) format("opentype");
}
@font-face {
    font-family: "Graphik4";
    src: url(../fonts/Graphik-Light.otf) format("opentype");
}
@font-face {
    font-family: "Graphik5";
    src: url(../fonts/Graphik-Black.otf) format("opentype");
}

body{
  margin: 0;
  padding:0;
  color: $blanco;
  background: linear-gradient(to bottom , $morado, $verde);
}

h1{
  font-family: "Graphik2";
  letter-spacing: 0.02em;
  font-size: 3.8em;
}

nav{
  width: 100%;
  height: auto;
  position: fixed;
  top:0;
  background: linear-gradient(to bottom , $azul_oscuro, $sin);
  border: none;
  font-family: "Graphik";
  font-size: 1.2em;
  letter-spacing: 0.03em;
  text-align: center;
  text-shadow: 0px 0px 10px $azul_oscuro;
  padding: 2% 0;
  ul{
    margin: 0;
    padding:0;
  }
  li{
    display: inline-block;
    margin: 20px 30px;
    a{
      text-decoration:none;
      color: $blanco;
      padding-bottom: 10px;
    }
    a:hover{
      color: $magenta;
    }
    a:active{
      border-bottom: 2px solid $magenta;
    }
  }
}

#menur{
  display:none;
}

#logo{
  margin-top:150px;
  width: 100%;
  img{
    width:280px;
    height:auto;
    display:block;
    margin: 2% auto;
  }
}

#about{
  width: 60%;
  display:block;
  margin: 5% auto;
  padding: 0 5%;
  img{
    width:420px;
    height:auto;
    border-radius: 100%;
    box-shadow: 5px 5px 70px $azul_oscuro;
    margin-left: 10%;
    /*mix-blend-mode: darken;*/
  }
  .text{
    opacity:0;
    width:420px;
    height:auto;
    text-align:left;
    font-family: "Graphik";
    font-size:1.2em;
    line-height: 30px;
    letter-spacing: 0.02em;
    position: relative;
    margin-top: -15%;
    padding:0; 
    display:inline-block;
   }
}

#skill{
  width: 60%;
  display:block;
  margin: 8% auto;
  h2{
    font-family: "Graphik2";
    letter-spacing: 0.02em;
    font-size: 2.5em;
    text-align:center;
  }
  img{
    width:20%;
    height:auto;
    margin:1em;
  }
}

#work{
  width: 65%;
  display:block;
  margin: 5% auto;
  text-align:right;
  #pegas{
    vertical-align:top;
    column-count: 3;
    column-gap: 2em;
    display: inline-block;
  }
  img{
    display: inline-block;
    margin: 2em 0 1em 0;
    width: 100%;
  }
}

#contact{
    width: 100%;
    margin: 5% 0 0 0;
    text-align:center;
    background:$azul_oscuro;
    h1{
      display:inline-block;
      margin:4% 0 5px 0;
    }
    hr{
      width:400px;
      background: linear-gradient(to right , $morado, $magenta, $naranjo, $amarillo, $verde);
      border-style:none;
      height:4px;
    }
    .cont{
      font-family: "Graphik";
      display:block;
      width:50%;
      margin:2% auto 0 auto;
    }
  }


// RESPONSIVE

@media (max-width: 750px){

  h1{
  font-size:3em;
  text-align:center;
}

  #menur{
    font-family: "Graphik2";
    letter-spacing:0.05em;
    display:block;
    margin:10px 0 15px 0;
    img{
      display:block;
      width:35px;
      height:auto;
      margin:10px auto 0 auto;
    }
  }

  nav{
    background: $azul_oscuro;
    text-shadow: none;
    padding: 2% 0;
    ul{
      display:none;
      margin: 0;
      padding:0;
    }
    li{
      display: block;
      margin: 10px 0;
      padding-bottom:10px;
      border-bottom:1px solid $morado;
      a:active{
        color: $magenta;
        border-bottom: none;
      }
      
    }
    li:last-child{
      border-bottom:none;
      margin:0;
    }
    li:first-child{
      border-top:1px solid $morado;
      padding-top:10px;
    }
  }

  #about{
    width:90%;
    margin-top:100px;
    img{
      width:90%;
      height:auto;
      margin-left:0;
    }
    .text{
      width:63%;
      font-size:1.1em;
      line-height: 25px;
      letter-spacing: 0.02em;
      position: relative;
      margin-top: -25%;
      padding: 0; 
      display: inline-block;
     }
  }

  #skill{
  width: 100%;
  display:block;
  margin: 10% auto;
    h2{
      letter-spacing: 0.02em;
      font-size: 2em;
      text-align:center;
    }
    img{
      width:28%;
      height:auto;
      margin:0.5em;
    }
  }

  #work{
  width: 90%;
  #pegas{
    column-count: 1;
  }
}


#contact{
    hr{
      width:80%;
    }
  }



}/*querie*/


