
@font-face {
    font-family: "Graphik";
    src: url(../fonts/Graphik-Regular.otf) format("opentype") ;
}
@font-face {
    font-family: "Graphik2";
    src: url(../fonts/Graphik-Bold.otf) format("opentype");
}
@font-face {
    font-family: "Graphik3";
    src: url(../fonts/Graphik-Semibold.otf) format("opentype");
}
@font-face {
    font-family: "Graphik4";
    src: url(../fonts/Graphik-Light.otf) format("opentype");
}
@font-face {
    font-family: "Graphik5";
    src: url(../fonts/Graphik-Black.otf) format("opentype");
}

body{
  margin: 0;
  padding:0;
  color: $blanco;
  background: linear-gradient($morado, $magenta, $naranjo);
  /*
  background-color:$morado;
  -webkit-animation-name: bg; 
  -webkit-animation-duration: 300s; 
  -webkit-animation-iteration-count: infinite; 
  animation-name: bg;
  animation-duration: 300s;
  animation-iteration-count: infinite;
  */
}
/*
@keyframes bg {
  0%   {background-color:$morado;}
  20%  {background-color:$magenta;}
  40%  {background-color:$naranjo;}
  60% {background-color:$amarillo;}
  80% {background-color:$verde;}
  100%   {background-color:$morado;}
}*/

h1{
  font-family: "Graphik2", Arial, Helvetica, sans-serif;
  letter-spacing: 0.02em;
  font-size:2.8em;
  text-align:center;
  margin-top:15%;
  margin-bottom: 0;

}

 hr{
      width:450px;
      background: linear-gradient(to right , $morado, $magenta, $naranjo, $amarillo, $verde);
      border-style:none;
      height:3px;
      margin-bottom: 50px;
    }

nav{
  width: 100%;
  height: auto;
  position: fixed;
  top:0;
  z-index: 1;
  background: linear-gradient(to bottom , $azul_oscuro, $sin);
  border: none;
  font-family: "Graphik3", Arial, Helvetica, sans-serif;
  font-size: 0.95em;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 1% 0;
  ul{
    margin: 0;
    padding:0;
  }
  li{
    display: inline-block;
    margin: 20px 30px;
    a{
      text-decoration:none;
      text-transform:uppercase;
      color: $blanco;
      padding-bottom: 10px;
      -webkit-transition: border-bottom 0.3s, color 0.3s;
      transition: border-bottom 0.3s, color 0.3s;
    }
    a:hover{
      color: $verde;
    }
    a:active{
      color: $verde;
    }
  }
}

#menur{
  display:none;
}

#logo{
  margin-top:150px;
  width: 100%;
  height:100vh;
  text-align:center;
  h1{
    margin:1% 0;
    font-size: 3em;
  }
  h4{
    font-family: "Graphik3", Arial, Helvetica, sans-serif;
    letter-spacing:0.03em;
  }
  img{
    width:350px;
    height:auto;
    display:block;
    margin: 2% auto;
  }
  span{
      margin:0 10px;
      font-family: "Graphik2", Arial, Helvetica, sans-serif;
      color:$verde;
      font-size:1.3em;
  }
}



#about{
  width:60%;
  height:100vh;
  display:block;
  margin: 2% auto;
  padding: 5px 5% 0 5%;
  img{
    width:420px;
    height:auto;
    border-radius: 100%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-left: 10%;
  }
  .text{
    width:420px;
    background-color: rgba(29,27,40,0.9);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-left:40%;
    height:auto;
    text-align:left;
    font-family: "Graphik3", Arial, Helvetica, sans-serif;
    font-size:1em;
    line-height: 25px;
    letter-spacing: 0.05em;
    position: relative;
    margin-top: -15%;
    display:inline-block;
    mix-blend-mode: hard-light;
    p{
      padding:20px 30px; 
    }
   }
}

#skill{
  width: 60%;
  height:100vh;
  padding-top:100px;
  display:block;
  margin: 8% auto;
  i{
    opacity:0.6;
    font-size:5em;
    display:inline-block;
    margin:2%;
  }
}

#work{
  width: 70%;
  display:block;
  margin: 5% auto;
  padding-top:10px;
  .muestra{
    display: inline-block;
    width: 28%;
    height:400px;
    margin:2%;
    overflow:hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
  .muestra:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .bg1{
    background-image: url("./../../assest/img/listock.jpg");
    background-position:bottom center;
    background-size:100%;
  }
  .bg2{
    background-image: url("./../../assest/img/jopafy.png");
    background-repeat:no-repeat;
  }
  .bg3{
    background-image: url("./../../assest/img/foodmap.png");
    background-position:center top;
    background-size:100%;
  }
  .bg4{
    background-image: url("./../../assest/img/lift.png");
    background-position:center top;
    background-size:100%;
  }
  .bg5{
    background-image: url("./../../assest/img/twitter.png");
    background-repeat:no-repeat;
    background-size:300%;
  }
  .bg6{
    background-image: url("./../../assest/img/swapi-react.png");
    background-repeat:no-repeat;
    background-size:100%;
    background-position:center;
  }
}

.bajada{
  width:90%;
  height:350px;
  margin-top:50px;
  background: linear-gradient(to top , $azul_oscuro, $azul_oscuro,$sin);
  padding:130px 5% 0 7%;
  letter-spacing: 0.02e4;
  line-height:20px;
  h3{
    font-family: "Graphik2", Arial, Helvetica, sans-serif;
  }
  p{
    font-family: "Graphik4", Arial, Helvetica, sans-serif;
    padding:0 2%;
  }
}

.botones{
  position:relative;
  top:-190px;
  left:25px;
   a{
    display:inline-block;
    font-family: "Graphik3", Arial, Helvetica, sans-serif;
    letter-spacing: 0.03em;
    font-size:14px;
    text-decoration:none;
    }
  .codigobtn{
    color:$verde;
    margin-right:20px;
    padding:10px 15px;
    border:2px solid $verde;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
  }
  .codigobtn:hover{
    color:$blanco;
    background-color:$verde;
  }
  .demobtn{
    color:$amarillo;
    padding:10px 25px;
    border:2px solid $amarillo;
    margin-left:18px;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
  }
  .demobtn:hover{
    color:$blanco;
    background-color:$amarillo;
  }
}


#contact{
    width: 100%;
    margin: 5% 0 0 0;
    text-align:center;
    background:$azul_oscuro;
    h1{
      display:inline-block;
      margin:4% 0 5px 0;
    }
    .cont{
      font-family: "Graphik", Arial, Helvetica, sans-serif;
      display:block;
      width:50%;
      margin:1% auto 0 auto;
    }
    p{
      display:inline-block;
    }
    .iconos{
      display:block;
      width:100%;
      margin:5% auto 0 auto;
      img{
        width:15%;
        height:auto;
        margin:0 20px;
      }
    }
    strong{
      margin:8%;
      display:inline-block;
      font-family: "Graphik3", Arial, Helvetica, sans-serif;
      font-size:1em;
      letter-spacing:0.02em;
    }
    span{
      margin:0 10px;
      font-family: "Graphik2", Arial, Helvetica, sans-serif;
      color:$magenta;
      font-size:1.3em;
    }
  }



// RESPONSIVE

@media (max-width: 1950px) and (min-width: 1638px){
  #skill{
  width: 60%;
  height:100vh;
  padding-top:100px;
  display:block;
  margin: 8% auto;
    i{
      font-size:6em;
    }
  }

  .botones{
  .codigobtn{
    margin-right:22px;
    padding:10px 25px;
  }
  .demobtn{
    padding:10px 35px;
  }
 }
}

@media (max-width: 1400px) and (min-width: 1271px){
 #work{
  .muestra{
    width: 30%;
    margin:1%;
  }
}
  .botones{
  .codigobtn{
    margin-right:10px;
    padding:10px 15px;
  }
  .demobtn{
    padding:10px 25px;
  }
 }
}

@media (max-width: 1270px) and (min-width: 1100px){
 #work{
  .muestra{
    width: 30%;
    margin:1%;
  }
}

  .botones{
  .codigobtn{
    margin-right:5px;
    padding:10px 5px;
  }
  .demobtn{
    padding:10px 15px;
  }
 }
}

@media (max-width: 1099px) and (min-width: 751px){
 #work{
  .muestra{
    width: 45%;
    margin:2%;
  }
}

  .botones{
  .codigobtn{
    margin-right:0;
    padding:10px 10px;
  }
  .demobtn{
    padding:10px 20px;
  }
 }
}


@media (max-width: 1351px) and (min-width: 1222px){
  #skill{
    i{
      font-size:4.5em;
    }
  }
}

@media (max-width: 1221px) and (min-width: 1093px){
  #skill{
    i{
      font-size:4em;
    }
  }
}

@media (max-width: 1092px) and (min-width: 963px){
  #skill{
    i{
      font-size:3.5em;
    }
  }
}

@media (max-width: 962px) and (min-width: 751px){
  #about{
    width:90%;
    height:auto;
    margin-top:0;
  }

  #skill{
    width: 60%;
    i{
      font-size:3em;
    }
  }
}

@media (max-width: 832px) and (min-width: 751px){
   #about{
    width:55%;
    height:auto;
    margin-top:50px;
    img{
      width:100%;
      height:auto;
      margin-left: 0;

    }
    .text{
      width:100%;
      margin:5% 0;
      font-size:1.2em;
      line-height: 25px;
      letter-spacing: 0.02em;
      text-align:center;
      padding: 0; 
     }
  }

  #skill{
    width: 60%;
    i{
      font-size:2.5em;
    }
  }
}


@media (max-width: 750px){

  h1{
  font-size:2.8em;
  text-align:center;
}
 hr{
      width:80%;
    }

  #menur{
    font-family: "Graphik2", Arial, Helvetica, sans-serif;
    letter-spacing:0.05em;
    display:block;
    margin:10px 0 15px 0;
    img{
      display:block;
      width:25px;
      height:auto;
      margin:10px auto 0 auto;
    }
  }

  nav{
    background: $azul_oscuro;
    text-shadow: none;
    padding: 5px 0;
    ul{
      display:none;
      margin: 0;
      padding:0;
    }
    li{
      display: block;
      margin: 10px 0;
      padding-bottom:10px;
      border-bottom:1px solid $morado;
      a{
        font-size:0.85em;
      }
      a:active{
        color: $magenta;
        border-bottom: none;
      }
      
    }
    li:last-child{
      border-bottom:none;
      margin:0;
    }
    li:first-child{
      border-top:1px solid $morado;
      padding-top:10px;
    }
  }

  #logo{
    margin-top:110px;
    height:auto;
  h1{
    margin:10% 0 1% 0;
    font-size: 2.5em;
   }
   h4{
    margin-top:2%;
  }
  img{
    width:280px;
    height:auto;
    display:block;
    margin: 2% auto;
  }
}

  #about{
    width:90%;
    height:auto;
    margin-top:100px;
    padding: 50px 5% 0 5%;
    img{
      width:90%;
      height:auto;
      margin:5%;
    }
    .text{
      width:90%;
      margin:5%;
      font-size:1.2em;
      line-height: 25px;
      letter-spacing: 0.02em;
      text-align:center;
      padding: 0; 
     }
  }

  #skill{
  width: 90%;
  height:auto;
  padding-top:50px;
  display:block;
  margin: 10% auto;
    h1{
      font-size: 1.8em;
    }
    i{
    font-size:4em;
    display:inline-block;
    margin:6%;
    }
    i:last-child, i:nth-last-of-type(2) {
    display:none;
    }
  }

  #work{
  margin-top:20%;
  width: 90%;
  padding-top:50px;
  height:auto;
  h1{
   text-align:center;
  }
  .muestra{
    display:block;
    width: 85%;
    margin:15% auto;
  }
}

.botones{
  position:relative;
  top:-190px;
  left:20px;
}

#contact{
    h1{
      font-size:2.6em;
      margin-top:10%;
    }
    .cont{
      width:80%;
    }
    .iconos{
      display:block;
      width:90%;
      img{
        width:30%;
        height:auto;
      }
    }
    strong{
      margin:10%;
      display:inline-block;
      font-family: "Graphik3", Arial, Helvetica, sans-serif; ;
      font-size:0.9em;
      letter-spacing:0.02em;
    }
    span{
      margin:0 10px;
    }
   
  }



}/*querie*/


