@charset "UTF-8";
/*@import 'assets/stylesheets/_bootstrap.scss';*/
/* variables importantes */
/* estilos específicos */
@font-face {
  font-family: "Graphik";
  src: url(../fonts/Graphik-Regular.otf) format("opentype"); }
@font-face {
  font-family: "Graphik2";
  src: url(../fonts/Graphik-Bold.otf) format("opentype"); }
@font-face {
  font-family: "Graphik3";
  src: url(../fonts/Graphik-Semibold.otf) format("opentype"); }
@font-face {
  font-family: "Graphik4";
  src: url(../fonts/Graphik-Light.otf) format("opentype"); }
@font-face {
  font-family: "Graphik5";
  src: url(../fonts/Graphik-Black.otf) format("opentype"); }
body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #4f366f;
  /*background: linear-gradient(to bottom , $morado, $verde);*/
  -webkit-animation-name: example;
  -webkit-animation-duration: 300s;
  -webkit-animation-iteration-count: infinite;
  animation-name: example;
  animation-duration: 300s;
  animation-iteration-count: infinite; }

@keyframes example {
  0% {
    background-color: #4f366f; }
  20% {
    background-color: #ea446a; }
  40% {
    background-color: #e28947; }
  60% {
    background-color: #f2de72; }
  80% {
    background-color: #41bdac; }
  100% {
    background-color: #4f366f; } }
h1 {
  font-family: "Graphik2";
  letter-spacing: 0.02em;
  font-size: 3.2em;
  text-align: center;
  margin-top: 15%; }

nav {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  z-index: 1;
  background: linear-gradient(to bottom, #1d1b28, rgba(0, 0, 0, 0));
  border: none;
  font-family: "Graphik3";
  font-size: 0.95em;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 2% 0; }
  nav ul {
    margin: 0;
    padding: 0; }
  nav li {
    display: inline-block;
    margin: 20px 30px; }
    nav li a {
      text-decoration: none;
      text-transform: uppercase;
      color: #ffffff;
      padding-bottom: 10px;
      -webkit-transition: border-bottom 0.3s, color 0.3s;
      transition: border-bottom 0.3s, color 0.3s; }
    nav li a:hover {
      color: #ea446a; }
    nav li a:active {
      color: #ea446a; }

#menur {
  display: none; }

#logo {
  margin-top: 150px;
  width: 100%; }
  #logo img {
    width: 280px;
    height: auto;
    display: block;
    margin: 2% auto; }

#about {
  width: 60%;
  display: block;
  margin: 5% auto;
  padding: 0 5%; }
  #about img {
    width: 420px;
    height: auto;
    border-radius: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin-left: 10%;
    /*mix-blend-mode: darken;*/ }
  #about .text {
    width: 420px;
    background-color: rgba(29, 27, 40, 0.85);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin-left: 40%;
    height: auto;
    text-align: left;
    font-family: "Graphik3";
    font-size: 1em;
    line-height: 25px;
    letter-spacing: 0.05em;
    position: relative;
    margin-top: -15%;
    display: inline-block; }
    #about .text p {
      padding: 20px 30px; }

#skill {
  width: 60%;
  display: block;
  margin: 8% auto; }
  #skill i {
    opacity: 0.6;
    font-size: 5em;
    display: inline-block;
    margin: 2%; }

#work {
  width: 70%;
  display: block;
  margin: 5% auto; }
  #work .muestra {
    display: inline-block;
    background-image: url("./../../assest/img/thermoplastics.png");
    width: 28%;
    height: 400px;
    margin: 2%;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  #work .muestra:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.bajada {
  width: 90%;
  height: 350px;
  margin-top: 50px;
  background: linear-gradient(to top, #1d1b28, #1d1b28, rgba(0, 0, 0, 0));
  padding: 130px 5% 0 7%;
  letter-spacing: 0.02e4;
  line-height: 20px; }
  .bajada h3 {
    font-family: "Graphik2"; }
  .bajada p {
    font-family: "Graphik4";
    padding: 0 2%; }
  .bajada .botones {
    margin-top: 20px; }
  .bajada a {
    display: inline-block;
    font-family: "Graphik3";
    letter-spacing: 0.03em;
    font-size: 14px;
    text-decoration: none; }
  .bajada .codigobtn {
    color: #41bdac;
    margin-right: 22px;
    padding: 10px 15px;
    border: 2px solid #41bdac;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s; }
  .bajada .codigobtn:hover {
    color: #ffffff;
    background-color: #41bdac; }
  .bajada .demobtn {
    color: #f2de72;
    padding: 10px 25px;
    border: 2px solid #f2de72;
    margin-left: 18px;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s; }
  .bajada .demobtn:hover {
    color: #ffffff;
    background-color: #f2de72; }

#contact {
  width: 100%;
  margin: 5% 0 0 0;
  text-align: center;
  background: #1d1b28; }
  #contact h1 {
    display: inline-block;
    margin: 4% 0 5px 0;
    font-size: 2.8em; }
  #contact hr {
    width: 400px;
    background: linear-gradient(to right, #4f366f, #ea446a, #e28947, #f2de72, #41bdac);
    border-style: none;
    height: 3px; }
  #contact .cont {
    font-family: "Graphik";
    display: block;
    width: 50%;
    margin: 2% auto 0 auto; }
  #contact p {
    display: inline-block; }
  #contact .iconos {
    display: block;
    width: 100%;
    margin: 5% auto 0 auto; }
    #contact .iconos img {
      width: 15%;
      height: auto;
      margin: 0 20px; }
  #contact strong {
    margin: 8%;
    display: inline-block;
    font-family: "Graphik3";
    font-size: 1em;
    letter-spacing: 0.02em; }
  #contact span {
    margin: 0 10px;
    font-family: "Graphik2"; }

@media (max-width: 750px) {
  h1 {
    font-size: 3em;
    text-align: center; }

  #menur {
    font-family: "Graphik2";
    letter-spacing: 0.05em;
    display: block;
    margin: 10px 0 15px 0; }
    #menur img {
      display: block;
      width: 25px;
      height: auto;
      margin: 10px auto 0 auto; }

  nav {
    background: #1d1b28;
    text-shadow: none;
    padding: 2% 0; }
    nav ul {
      display: none;
      margin: 0;
      padding: 0; }
    nav li {
      display: block;
      margin: 10px 0;
      padding-bottom: 10px;
      border-bottom: 1px solid #4f366f; }
      nav li a {
        font-size: 0.85em; }
      nav li a:active {
        color: #ea446a;
        border-bottom: none; }
    nav li:last-child {
      border-bottom: none;
      margin: 0; }
    nav li:first-child {
      border-top: 1px solid #4f366f;
      padding-top: 10px; }

  #about {
    width: 90%;
    margin-top: 100px; }
    #about img {
      width: 90%;
      height: auto;
      margin: 5%; }
    #about .text {
      width: 90%;
      margin: 5%;
      font-size: 1.2em;
      line-height: 25px;
      letter-spacing: 0.02em;
      text-align: center;
      padding: 0; }

  #skill {
    width: 90%;
    display: block;
    margin: 10% auto; }
    #skill h1 {
      font-size: 1.8em; }
    #skill i {
      font-size: 4em;
      display: inline-block;
      margin: 6%; }

  #work {
    margin-top: 20%;
    width: 90%; }
    #work h1 {
      text-align: center; }
    #work .muestra {
      display: block;
      width: 85%;
      margin: 15% auto; }

  #contact h1 {
    font-size: 2.6em;
    margin-top: 10%; }
  #contact hr {
    width: 80%; }
  #contact .cont {
    width: 80%; }
  #contact .iconos {
    display: block;
    width: 90%; }
    #contact .iconos img {
      width: 30%;
      height: auto; }
  #contact strong {
    margin: 10%;
    display: inline-block;
    font-family: "Graphik3";
    font-size: 0.9em;
    letter-spacing: 0.02em; }
  #contact span {
    margin: 0 10px; } }
/*querie*/

/*# sourceMappingURL=main.css.map */
